.form {
  margin-right: auto;
  margin-left: auto;
  padding-left: 41px;
  padding-right: 39px;
  color: $primary-bg-color;
}
.form-call-to-action {
  display: block;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: $primary-text-color;
}
.form-field,
.comment-field {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.comment-field {
  margin-bottom: 20px;
}
.form-label {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: $primary-text-color;
}
.form-input {
  margin: 0;
  padding-left: 42px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 12px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-icon {
  position: absolute;
  top: 29px;
  left: 12px;
  width: 18px;
  height: 18px;
  fill: $primary-text-color;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-input:hover + .form-icon,
.comment-field:focus-within > .form-icon {
  fill: $accent-color;
}
.form-input:hover,
.comment:hover,
.form-field:focus-within > .form-input,
.comment-field:focus-within > .comment {
  border: 1px solid $accent-color;
  outline: none;
}
.comment {
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.checkbox-field {
  display: flex;
  align-items: center;
  padding-left: 13px;
  margin-bottom: 30px;
  line-height: 1.71;
  color: $primary-text-color;
}
.input-checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.checkbox-icon {
  display: inline-block;
  margin-right: 8px;
  width: 16px;
  height: 15px;
  border: 2px solid $primary-text-color;
  border-radius: 2px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input-checkbox:checked + .checkbox-icon {
  border-color: $accent-color;
  background-color: $accent-color;
  background-image: url('../images/form-icon.svg');
  background-size: contain;
  background-origin: border-box;
}
.checkbox-link {
  color: $accent-color;
}
.form-btn {
  position: absolute;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 56px;
  padding-right: 55px;
  border-radius: 4px;
  border: none;
  transform: translateX(124px);
  color: $secondary-text-color;
  background-color: $accent-color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus,
  &:hover {
  border-radius: 4px;
  color: $secondary-text-color;
  background-color: $accent-color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
}
