.team-section {
    background-color: $accent-bg-color;
  }
  .team-item {
    display: flex;
    @extend %item;
    
    .team-list {
      width: calc((100% - 30px * 3) / 4);
      margin-right: 30px;
      box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
      border-radius: 0px 0px 4px 4px;
      background-color: $primary-bg-color;
    }
  .team-list:nth-child(4n) {
      margin-right: 0;
      background-color: $primary-bg-color;
    }
  }
  .team-content {
    margin-top: 30px;

    .title {
      font-weight: 500;
      font-size: 16px;
      line-height: 1.19;
      text-align: center;
      color: $primary-text-color;
    }
    .text {
      margin-top: 10px;
      font-size: 16px;
      line-height: 1.19;
      text-align: center;
      color: $text-color;
    }
  
  }
  
  
  